version: '3,8'

services:
    mariadb:
        image: mariadb
        volumes:
            - mariadb-volumes:/var/lib/mysql
        restart: always
        environment:
          - MARIADB_ROOT_PWD=${MARIADB_ROOT_PWD}
          - MARIADB_DB=${MARIADB_DB}
          - MARIADB_USER=${MARIADB_USER}
          - MARIADB_PWD=${MARIADB_PWD}
        ports: 
            - "3306:3306"
        build:
            context: ./requirements/mariadb
            dockerfile: Dockerfile 
        networks:
             inception:
        env_file: .env

    wordpress:
        depends_on:
            - mariadb
        image: wordpress
        volumes:
            - wordpress-volumes:/var/www/wordpress
        restart: always
        environment:
          - WP_URL=${WP_URL}
          - WP_DATABASE=${WP_DATABASE}
          - WP_TITLE=${WP_TITLE}
          - WP_ADMIN_USER=${WP_ADMIN_USER}
          - WP_ADMIN_PWD=${WP_ADMIN_PWD}
          - WP_ADMIN_EMAIL=${WP_ADMIN_EMAIL}
          - WP_USER=${WP_USER}
          - WP_USER_PWD=${WP_USER_PWD}
          - WP_USER_EMAIL=${WP_USER_EMAIL}
          - MARIADB_HOST=${MARIADB_HOST}
          - MARIADB_USER=${MARIADB_USER}
          - MARIADB_PWD=${MARIADB_PWD}
          - MARIADB_DB=${MARIADB_DB}
        ports:
            - "9000:9000"
        build:
            context: ./requirements/wordpress
            dockerfile: Dockerfile
        networks:
             inception:
        env_file: .env

    nginx:
        image: nginx
        restart: always
        depends_on:
            - wordpress
        ports:
             - "443:443"
        volumes:
            - wordpress-volumes:/var/www/wordpress
        build:
            context: ./requirements/nginx
            dockerfile: Dockerfile
            args:
                ARG_URL: ${WP_ACCESS}
                ARG_STUD: ${STUD}
        networks:
             inception:
        extra_hosts:
            - "jmilhas.42.fr:127.0.0.1"
        env_file: .env

###########################################
#                 BONUS                   #
###########################################
    caddy:
        image: caddy
        restart: always
        ports:
          - "80:80"
        volumes:
            - my_page-volumes:/var/www/html
        build:
            context: ./requirements/bonus/caddy
            dockerfile: Dockerfile
            args:
                PROXY_PASS: ${PROXY_PASS}
        networks:
             inception:
        env_file: .env

    my_page:
      image: my_page
      restart: always
      volumes:
          - my_page-volumes:/var/www/html
      build:
        context: ./requirements/bonus/my_page 
        dockerfile: Dockerfile
      ports:
        - 1525:1525
      networks:
        inception:
        
    redis:
      container_name: redis
      image: redis
      restart: always
      depends_on:
        - wordpress
      ports:
        - 6379:6379
      build:
        context: ./requirements/bonus/redis
        dockerfile: Dockerfile
      volumes:
        - redis-volumes:/var/www/wordpress
      networks:
        inception:

    ftp:
      container_name: ftp
      image: ftp
      restart: always
      depends_on:
        - wordpress
      ports:
        - 21:21
        - 21100-21110:21100-21110
      build:
        context: ./requirements/bonus/ftp
        dockerfile: Dockerfile
        args: 
          - FTP_USR=${FTP_USR}
          - FTP_PWD=${FTP_PWD}
      volumes:
        - wordpress-volumes:/var/www/wordpress
      networks:
        inception:
      environment:
        - FTP_USR= ${FTP_USR}
        - FTP_PWD= ${FTP_PWD}

    adminer:
      build:
        context: ./requirements/bonus/adminer
        dockerfile: Dockerfile
      depends_on:
        - mariadb
      image: adminer
      container_name: adminer
      networks:
        inception:
      volumes:
        - wordpress-volumes:/var/www/wordpress
      restart: unless-stopped

volumes:
  mariadb-volumes:
    driver: local
    driver_opts:
      device: /home/jmilhas/data/database
      type: volume  
      o: bind
  
  wordpress-volumes:
    driver: local
    driver_opts:
      device: /home/jmilhas/data/wordpress
      type: volume  
      o: bind

  redis-volumes:
    driver: local
    driver_opts:
      device: /home/jmilhas/data/redis
      type: volume  
      o: bind

  adminer-volumes:
    driver: local
    driver_opts:
      device: /home/jmilhas/data/adminer
      type: volume  
      o: bind

  my_page-volumes:
    driver: local
    driver_opts:
      device: /home/jmilhas/data/my_page
      type: volume  
      o: bind

networks:
     inception:
        driver: bridge
